<ion-view view-title="Information">

  <ion-content>
  <div class="list card">

  <div class="item item-avatar">
    <img src="../img/abdo.jpg">
    <h2>Abdelghafour Rakhma</h2>
    <p>Front-End developer</p>
  </div>
  
  <div  class="item item-icon-left">
    <i class="icon ion-social-usd"></i>
    10$ par heure
  </div>
	  
  <div  class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    +212 6 32 45 34 15
  </div>

  <div  class="item item-icon-left">
    <i class="icon ion-email"></i>
   rakhma.abdelghafour@gmail.com
  </div>

  <div class="item item-icon-left">
    <i class="icon ion-social-facebook"></i>
    	www.facebook.com/Aiirox
  </div>

</div>
  </ion-content>
</ion-view>
