
<ion-tabs class="tabs-icon-top tabs-dark">

  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Caméras" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/cams">
    <ion-nav-view name="tab-cams"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Ajouter" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/add">
    <ion-nav-view name="tab-add"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Information" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>
  
  
</ion-tabs>
